################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ClauseParser/v15
/.vs/ClauseParser/DesignTimeBuild
/ClauseParser/bin/Debug/netcoreapp2.1
/ClauseParser/obj
