body {
  padding-top: 50px;
  padding-bottom: 20px;
}
body .body-content {
  padding-left: 15px;
  padding-right: 15px;
}
body .content .col-xs-3 {
  text-align: center;
}
body .content .col-xs-3 .sign-button {
  margin: 5px 5px 5px 5px;
  width: 100px;
  height: 100px;
}
body .content .step-results-container {
  margin: 15px 0px;
}
body .content .step-results-container .list-group .list-group-item .item-title {
  font-style: oblique;
  font-weight: 400;
}
body .content .step-results-container .list-group .list-group-item .item-content {
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
}
@media screen and (max-width: 1025px) {
  body .content .col-xs-3 .sign-button {
    margin: 5px 5px 5px 5px;
    width: 50px;
    height: 50px;
  }
}